<!doctype html>
<html>
<head>
<title>{{configuration}}: {{host}} [{{version}}]</title>
</head>
<body>
    {% for deployment_id, deployment in deployments.iteritems() %}
        <h1>{{deployment_id}}</h1>
        <h2>Node Instances</h2>
        <ul>
        {% for node_instance in deployment.node_instances.itervalues() %}
            <li>{{node_instance.id}}: {{node_instance.state}}</li>
        {% endfor %}
        </ul>
        <h2>Executions</h2>
        <ul>
        {% for execution in deployment.executions.itervalues() %}
            <li>{{execution.id}} [{{execution.workflow_id}}]: {{execution.status}}</li>
        {% endfor %}
        </ul>
    {% endfor %}
    <sub>{{configuration}}: {{host}} [{{version}}]</sub>
</body>
</html>
